<script src="js/angular.min.js"></script>

<h1 style="text-align: center">welcome to contact page</h1>
<div style="text-align: center">
    <fieldset >
        <legend><h4>Contact Details</h4></legend>


        <label>Name</label>
        <input type="text" ng-model="contact.name" name="name" id="name" placeholder="Name"><br/><br>

        <label>Email</label>
        <input type="email"  ng-model="contact.email" name="email" id="email" placeholder="Email"><br/><br>

        <label>Phone</label>
        <input type="text" ng-model="contact.phone" name="phone" id="phone" placeholder="Phone"><br/><br>

        <label>Message</label>
        <textarea rows="4" ng-model="contact.message" name="message" id="message" placeholder="Message" required></textarea><br/><br>


        <input type="button" value="submit">
    </fieldset>

</div>